{{if .Comment}}// {{.TypeName}} {{.Comment}}
{{else}}{{if .IsAlias}}// {{.TypeName}} is an alias for {{.TargetType}}.
{{else}}// {{.TypeName}} represents the {{.TypeName}} schema.
{{end}}{{end}}type {{.TypeName}} {{if .IsAlias}}= {{end}}{{.TargetType}}
