{{if .Comment}}// {{.TypeName}} {{.Comment}}
{{else}}// {{.TypeName}} represents the {{.TypeName}} schema.
{{end}}type {{.TypeName}} {{.BaseType}}

const (
{{range .Values}}	{{.ConstName}} {{.Type}} = {{.Value | quote}}
{{end}})
