name: Publish Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install MkDocs and Material Theme
        run: pip install mkdocs-material

      - name: Prepare Documentation
        run: ./scripts/prepare-docs.sh

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
