name: Publish Docs

on:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install MkDocs and Material Theme
        run: pip install mkdocs-material mkdocs-exclude

      - name: Make prepare-docs executable
        run: chmod +x scripts/prepare-docs.sh

      - name: Prepare Documentation
        run: ./scripts/prepare-docs.sh

      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: lychee-${{ hashFiles('lychee.toml') }}
          restore-keys: lychee-

      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress docs/
          fail: true

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
